* {
  padding: 0;
  margin: 0;
  box-sizing: none;
}

body {
      background: linear-gradient(90deg, #dadafc, #bdf1fa, #bbfcdc);
}

.navbar {
  background: linear-gradient(135deg, #f9d5fe4d, #c0daff, #c2ffe3);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.308);
}

.navbar-brand:hover img {
  transform: scale(1.1);
}

.nav-link {
  color: #5c4b51;
  font-weight: 500;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.nav-link:hover {
  text-shadow: 0 0 8px #333134;
}

.btn-gradient {
  background: #dadafc;
  color: #000000;
  border-radius: 25px;
  font-weight: bold;
  transition: 0.3s;
}

.btn-gradient:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(51, 50, 51, 0.6);
}

.btn-outline-light {
    color: #000000;
    border-color: #000000;
}

.konten img {
    width: 250px;
}

.social-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.social-icons a {
  color: #333;
  transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
  transform: translateY(-5px);
  color: #de92fa;
}

.row {
    justify-content: center;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 15px;
}

.education-card {
  border-radius: 20px;
  transition: .3s;
}

.education-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0,0, 0.18);
}

.education-icon {
  width: 70px;
  height: 70px;
  background: #dadafc;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.badge {
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 20px;
}

.skill-badge {
  background-color: #dadafc;
  color: #000000;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
}

.project-card {
  border-radius: 20px;
  transition: .3s;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0,0, 0.18);
}

.footer {
  background: linear-gradient(135deg, #f9d5fe4d, #c0daff, #c2ffe3);
  color: #000000;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.308);
}
